<div class="container bas" id="cgu">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto pr-2 pl-2">
          <div class="row">
            <h1 class="mb-3" title="politique de vie privée">Les Conditions Générales d'utilisations </h1>
            <strong> Nature des données collectées</strong>
            <p>
              Dans le cadre de l’utilisation des Sites, l’Editeur est susceptible de collecter
              <br/> les catégories de données suivantes concernant ses utilisateurs :
            </p>
            <p>
              Agrégation des données<br/>
              Agrégation avec des données non personnelles<br/>
              Nous pouvons publier, divulguer et utiliser les informations agrégées (informations<br/>
              relatives à tous nos Utilisateurs ou à des groupes ou catégories spécifiques d’Utilisateurs<br/>
              que nous combinons de manière à ce qu’un Utilisateur individuel ne puisse plus être<br/>
              identifié ou mentionné) et les informations non personnelles à des fins d’analyse du<br/>
              secteur et du marché, de profilage démographique, à des fins promotionnelles et<br/>
              publicitaires et à d’autres fins commerciales.<br/>
              Agrégation avec des données personnelles disponibles sur les comptes sociaux de
              l’Utilisateur
            </p>
            <strong>Cookies</strong>
            <p>
              Les cookies ne contiennent pas d’information personnelle. <br>
              Le cookie enregistre des informations relatives à la navigation sur le service (les pages <br>
              que vous avez consultées, la date et l’heure de la consultation…) que nous pourrons lire<br>
              lors de vos visites ultérieures.<br>
              L’Utilisateur doit toutefois donner son consentement quant à l’utilisation de certains cookies.<br>
              A défaut d’acceptation, l’Utilisateur est informé que certaines fonctionnalités ou pages risquent de lui
              être refusées.<br>
              L’Utilisateur pourra désactiver ces cookies par l’intermédiaire des paramètres figurant au sein de son
              logiciel de navigation.<br>
            </p>
            <strong>Les données personnelles</strong>
            <p>
              Le site assure à l'Utilisateur une collecte et un traitement d'informations personnelles<br/>
              dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978<br/>
              relative à l'informatique, aux fichiers et aux libertés.<br/>
              En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit<br/>
              d'accès,de rectification, de suppression et d'opposition de ses données personnelles.<br/>
              L'Utilisateur exerce ce droit via son espace personnel.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
