<div class="container bas">
  <div class="row" >
    <div class="card">
      <div class="card-header">
        <h1 title="Confirmation de votre inscription" class="text-black">Confirmation Inscription </h1>
      </div>
      <div class="card-body" id="confirm">
        <div class="col-sm-12 col-md-7 col-lg-5 mx-auto pr-2 pl-2">
          <div class="alert alert-success">
            <!--Votre inscription a été confirmé avec succés. Veuillez vous connecter !!! -->
            <i class="bi-check-circle-fill m-2" style="color: #4d9f0c"></i>
            Votre inscription a été confirmé avec succés. Veuillez vous connecter.
          </div>
          <hr/>
          <div>
            <a routerLink="/auth/login">
              <button class="btn btn-success" style="text-decoration: none"> Connexion</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

