<div class="container bas">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto pr-2 pl-2">
          <div class="row">
            <h1 class="mb-3" title="mentions légales">Les Réglements du jeu-conours </h1>
            <div>
              <p>
                Le Spécial jeu concours Thétitop à lieu du <strong> 1er au 31 juilliet 2022</strong> sur une période de 30 jours<br>
                1 500 000 de tickets seront distribués. Pour etre éligible au jeu concours, vous devez acheter <br>
                une valeur de thé équivalent à au moins 49 euros.<br>
                Un ticket de caisse avec un code à 10 chiffre sera automatiquement généré.<br>
                Les joueurs auront 30 jours à compter de la date de clôture du jeu pour aller<br>
                sur le site internet et tester le numéro de leur(s) ticket(s) ainsi que réclamer<br>
                leur lot en magasin ou en ligne.
              </p>
            </div>

            <strong class="mb-2">Pourcentage des gains</strong>
            <div class="about">
              <div>100% des tickets seront gagnants, voici la répartition des gains :</div>
              <div class="row content ml-6" style="padding-left: 20px">
                <ul>
                  <li><i class="ri-check-double-line"></i>60% des tickets offrent un infuseur à thé</li>
                  <li><i class="ri-check-double-line"></i>20% des tickets offrent une boite de 100g d’un thé détox ou
                    d’infusion
                  </li>
                  <li><i class="ri-check-double-line"></i>10% des tickets offrent une boite de 100g d’un thé signature
                  </li>
                  <li><i class="ri-check-double-line"></i>6% des tickets offrent un coffret découverte d’une valeur de
                    39€
                  </li>
                  <li><i class="ri-check-double-line"></i>4% des tickets offrent un coffret découverte d’une valeur de
                    69€
                  </li>
                </ul>
              </div>
            </div>


            <strong class="mb-2">Le Grand tirage au Sort</strong>
            <p>
              À l’issue du jeu-concours, un tirage au sort sera effectué parmi tous les participants<br>
              afin de déterminer le gagnant d’un an de thé d’une valeur de <strong>360€.</strong>
            </p>

            <div>
              <strong> Remarque : </strong>
              <span class="fst-italic">
                Pour le tirage au sort du gros lot, le nombre de participations d’un client<br>
                n'augmente pas ses chances de gagner. Tous les tickets du jeu-concours étant gagnant<br>
                sur les lots intermédiaires plus un client joue plus il gagne.
              </span>
            </div>
            <div class="text-campagne fw-bold text-uppercase mb-1 mt-4">
              Bonne chance !
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
