<div class="container bas" >
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto pr-2 pl-2">
          <div class="row">
            <h1 class="mb-3" title="mentions légales">Les Mentions légales </h1>
            <strong  class="mb-2"> La Société  WebAgency FuriousDucks</strong>
            <p>
              SIREN :  519 464 267 <br>
              Capital Social :  10 000 €<br>
              Domaine d’expertise : Spécialiste dans les technologies digitales<br>
              </p>

            <strong class="mb-2">Siège  social</strong>
            <p>
              Adresse :2 rue Servandoni 75006 Paris<br>
              Téléphone : 01 48 92 00 39<br>
              Mail : contact@furiousducks.fr<br>
              Représentant légal : Elhadji SY<br>
            </p>
            <strong class="mb-2">Hébergeur</strong>
            <p>
              L'hébergeur du site https://dsp-archiweb21-ah-es-ag-hk.fr est la société SCALEWAY,<br>
              Siège social :  8 rue de la Ville l’Evêque, 75008 Paris, France.<br>
              SIREN: 433 115 904 RCS Paris<br>
              Téléphone: +33 (0)1 84 13 00 00<br>
              Directeur de publication : Arnaud Brindejonc de Bermingham<br>
            </p>

            <strong class="mb-2">Propriété intellectiuelle</strong>
            <p>
              Ce site Internet et l'ensemble de son contenu (notamment données, informations, photos, logos et marques)<br>
              sont la propriété exclusive de THETIPTOP ou de ses partenaires. Toute reproduction, représentation,<br>
              traduction, adaptation ou citation, intégrale ou partielle, par quelque procédé ou support que ce soit,<br>
              est strictement interdite sauf les cas prévus par la loi ou expressément autorisés par leur propriétaire.<br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
