<form name="form" (ngSubmit)="f.form.valid && updateUser(user) " #f="ngForm" novalidate>
  <div class="modal-header">
    <h3>Modifier utilisateur</h3>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group mb-3">
      <label class="form-label" for="nom">Nom</label>
      <input type="text" class="form-control" name="nom" [(ngModel)]="user.nom" #nom="ngModel"  minlength="2" required/>
      <div *ngIf="f.submitted && nom.invalid">
        <div *ngIf="nom.errors.required"> * Champs requis</div>
        <div *ngIf="nom.errors.minlength"> * minimum 2 caractéres </div>
      </div>
    </div>
    <div class="form-group mb-3">
      <label class="form-label" for="prenom">Prénom</label>
      <input type="text" class="form-control" name="prenom" [(ngModel)]="user.prenom" #prenom="ngModel"
             minlength="2" required/>
      <div *ngIf="f.submitted && prenom.invalid">
        <div *ngIf="prenom.errors.required"> * Champs requis</div>
        <div *ngIf="prenom.errors.minlength"> * minimum 2 caractéres </div>
      </div>
    </div>
    <div class="form-group mb-3">
      <label class="form-label" for="login">Login</label>
      <input type="email" class="form-control" name="login" [(ngModel)]="user.login" #login="ngModel" required/>
      <div *ngIf="f.submitted && login.invalid">
        <div *ngIf="login.errors.required"> * Champs requis</div>
      </div>
    </div>
    <div class="form-group mb-3">
      <label class="form-label" for="telephone">Téléphone</label>
      <input type="text" class="form-control" name="telephone" [(ngModel)]="user.telephone" #telephone="ngModel"
             required  placeholder="Numéro téléphone"/>
      <div *ngIf="f.submitted && telephone.invalid">
        <div *ngIf="telephone.errors.required"> * Champs requis </div>
      </div>
    </div>
    <div class="form-group mb-3">
      <label class="form-label" for="age">Age</label>

      <input type="number" min="5" class="form-control" name="age" [(ngModel)]="user.age" #age="ngModel"
             placeholder="age" required />
      <div *ngIf="f.submitted && age.invalid">
        <div *ngIf="age.errors.required"> * Champs requis, veuillez ajouter votre âge </div>
      </div>
    </div>
    <div class="form-group mb-3">
      <label class="form-label" for="roles">Roles</label>
      <select name="roles" [(ngModel)]="user.role" class="form-select" #role="ngModel" required >
        <option *ngFor="let role of roles" [value]="role">{{role}}</option>
      </select>
      <div *ngIf="f.submitted && role.invalid">
        <div *ngIf="role.errors.required"> * Champs requis </div>
      </div>
    </div>
    <div *ngIf="isFailed">
      <div class="alert alert-danger alert-dismissible fade show"  role="alert">
        <i class="bi-exclamation-octagon-fill" style="color: #e80909"></i>
        {{this.message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>

    <div *ngIf="isValid" class="alert alert-warning alert-dismissible fade show  mt-1" role="alert">
      <div *ngFor="let err of validateError">
        <i class="bi-exclamation-octagon-fill" style="color: #e80909"></i>
        {{ err.msg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('cancel')">Annuler</button>
    <button type="submit" class="btn btn-success" >Modifier</button>
  </div>
</form>
