<div class="container bas">
  <div class="row" >
    <div class="card">
      <div class="card-header">
        <h1 title="Erreur de confirmaition" class="text-black text-center text-uppercase">Erreur de confirmation</h1>
      </div>
      <div class="card-body" id="confirm">
        <div class="col-sm-12 col-md-7 col-lg-5 mx-auto pr-2 pl-2">
          <div class="alert alert-danger">
            <i class="bi-exclamation-octagon-fill mb-2" style="color: #B22222"></i>
            Erreur de confirmation de votre inscription.
          </div>
          <hr/>
          <div>
            <a routerLink="/home">
              <button class="btn btn-primary"  style="text-decoration: none"> Accueil </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
