<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container text-center position-relative" >
    <div class="title" >Grand jeu-concours</div>
    <p class="subtitle">organisé par ThéTipTop à l'occasion de l'ouverture de notre 10éme boutique</p>
    <a routerLink="/auth/login" class="btn-get-started" data-aos="zoom-in">Je Participe</a>
  </div>
</section>
<!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="row content">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="20">
          <h1 title="thé bio, thé detox, thé signature ">GAGNEZ DES THÉS DÉTOX OU INFUSIONS ET DES THÉS SIGNATURES</h1>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="20">
          <p>
            Le Spécial jeu concours Thétitop a lieu sur une période de 30 jours et 1 500 000 de tickets seront
            distribués.
            Pour etre éligible au jeu concours, vous devez acheter une valeur de thé équivalent à au moins 49 euros.
            Un ticket de caisse avec un code à 10 chiffre sera automatiquement généré.
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Inscrivez vous</li>
            <li><i class="ri-check-double-line"></i> Entrez votre numéro de ticket</li>
            <li><i class="ri-check-double-line"></i> Retirez votre lot en magasin ou en ligne.</li>
          </ul>
          <p class="fst-italic">
            Le jeu-concours est 100% gagnant.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->


  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container">
      <div class="text-center" data-aos="zoom-in">
        <p>Passez vite à l'action </p>
        <a class="cta-btn" routerLink="/auth/signup">JE M'INSCRIS </a>
      </div>

    </div>
  </section><!-- End Cta Section -->


  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title" data-aos="fade-left">
        <div class="titre">Les Gains</div>
      </div>


      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="20">

        <div class="col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-wrap ">
            <img src="assets/img/portfolio/coffret-1.png" class="img-fluid img-square" alt="coffret infusion">
            <div class="portfolio-info">
              <div>Un infuseur à thé</div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item ">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/coffret-2.png" class="img-fluid img-square" alt="coffret infusion">
            <div class="portfolio-info">
              <div>Boite de 100g de thé détox ou thé infusion</div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item ">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/coffret-3.png" class="img-fluid img-square" alt="coffret signature">
            <div class="portfolio-info">
              <div>Boite de 100g de thé signature</div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item ">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/coffret-4.png" class="img-fluid img-square" alt="coffret découverte">
            <div class="portfolio-info">
              <div>Coffret découverte d'une valeur de 39€</div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item ">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/coffret-5.png" class="img-fluid img-square" alt="coffret découverte">
            <div class="portfolio-info">
              <div>Coffret découverte d'une valeur de 69€</div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item ">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/coffret-6.png" class="img-fluid img-square" alt="coffret découverte">
            <div class="portfolio-info">
              <div>Un an de thé d’une valeur de 360€ à gagner à l'issue  du jeu-concours.</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Portfolio Section -->
  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 ">
          <div class="section-title" data-aos="fade-right">
            <h2  title="Découvrez les nouveaux saveurs de thé 100% bio de Thétiptop" class="titre">DÉCOUVREZ LES NOUVEAUX SAVEURS DE THÉ 100% BIO DE THÉTIPTOP</h2>
            <p> Tenez-vous informé(e) de l'actualité et des événements de ThéTipTop
              en vous abonnant à notre newsletter</p>
          </div>
        </div>
        <div class="col-lg-6">
          <iframe class="noScrolling" name="newsletter" title="fenetre newsletter" alt="fenetre newsletter"
                  src="URLFrame"
                  frameborder="0" scrolling="no" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials section-bg-avis">
    <div class="container">

      <div class="row">
        <div class="col-lg-4">
          <div class="section-title" data-aos="fade-right">
            <h3 title="Avis clients" class="titre">LES AVIS DE NOS CLIENTS</h3>
            <p>Quelques avis de nos trés fidéles clients.</p>
          </div>
        </div>
        <div class="col-lg-8" data-aos="fade-up" data-aos-delay="20">

          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="20">
            <div class="swiper-wrapper">

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Très bonne expérience avec Thétiptop. Le thé est toujours très bon et le service client est vraiment
                    très sympathique, compétent et compréhensif. <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>

                  <div>Elhadji Sy</div>
                </div>
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Des thés délicieux avec beaucoup de choix sur site. Il y en a pour tous les goûts. Le suivi de
                    livraison est précis et pratique. j'ai hâte de tester tous les thés, mais le rooibos des vahinés et
                    pour l'instant mon favori !
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <div>HANA KHELIL</div>
                </div>
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Des thés parfumés et de bonne qualité. Un service impeccable. Client depuis 1 an, nous n'avons pas
                    envie d'en changer..
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <div>Aurélien Hamzaoui</div>
                </div>
              </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->

</main>
<!-- End #main -->
